<div class="register-container">
  <div class="form-container">
    <h2>Registrarse</h2>
    <nz-alert
      *ngIf="errorMessage"
      nzShowIcon
      nzType="error"
      [nzMessage]="errorMessage"
      [ngStyle]="{ 'margin-bottom': '16px' }"
    ></nz-alert>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group input-container">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
    </div>
      <div class="🤪">
        <div class="form-group input-container">
          <label>Contraseña</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">La contraseña debe tener minimo 6 caracteres</div>
          </div>
        </div>
        <div class="form-group input-container">
          <label>Confirmar contraseña</label>
          <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': f.password.value==f.confirmPassword.value && submitted && f.password.errors }" />
          <span *ngIf="f.password.value!=f.confirmPassword.value" style="color:red">Las contraseñas no coinciden</span>
        </div>
      </div>
      <div class="form-group input-container">
        <label>DNI</label>
        <input type="number" formControlName="dni" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dni.errors }" />
        <div *ngIf="submitted && f.dni.errors" class="invalid-feedback">
            <div *ngIf="f.dni.errors.required">El DNI es requerido</div>
        </div>
    </div>
    <div class="form-group input-container">
      <label>Nombres</label>
      <input type="text" formControlName="nombres" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }" />
      <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
          <div *ngIf="f.nombres.errors.required">El nombre es requerido</div>
      </div>
    </div>
    <div class="form-group input-container">
      <label>Apellido paterno</label>
      <input type="text" formControlName="aPaterno" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aPaterno.errors }" />
      <div *ngIf="submitted && f.aPaterno.errors" class="invalid-feedback">
          <div *ngIf="f.aPaterno.errors.required">El apellido paterno es requerido</div>
      </div>
    </div>
    <div class="form-group input-container">
      <label>Apellido materno</label>
      <input type="text" formControlName="aMaterno" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aMaterno.errors }" />
      <div *ngIf="submitted && f.aMaterno.errors" class="invalid-feedback">
          <div *ngIf="f.aMaterno.errors.required">El apellido materno es requerido</div>
      </div>
    </div>
    <div class="form-group input-container">
      <label>Fecha de nacimiento</label>
      <input type="date" formControlName="fechaNac" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fechaNac.errors }" />
      <div *ngIf="submitted && f.fechaNac.errors" class="invalid-feedback">
          <div *ngIf="f.fechaNac.errors.required">La fecha de nacimiento es requerida</div>
      </div>
    </div>
    <div class="form-group input-container">
      <label>Direccion</label>
      <input type="text" formControlName="direccion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" />
      <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
          <div *ngIf="f.direccion.errors.required">La dirección es requerida</div>
      </div>
    </div>
    <div class="form-group input-container">
      <label>Telefono</label>
      <input type="number" formControlName="telefono" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
      <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
          <div *ngIf="f.telefono.errors.required">El telefono es requerido</div>
      </div>
  </div>
  <div class="form-group input-container">
    <label>User</label>
    <input type="text" formControlName="user" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.user.errors }" />
    <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
        <div *ngIf="f.user.errors.required">El nombre de usuario es requerido</div>
    </div>
  </div>

      <div class="cta-container">

        <button
          nz-button
          type="submit"
          [nzLoading]="loading"
        >
          Registrarse
        </button>
        <div>
          <div><a routerLink="/login">Inicia sesión con un usuario existente</a></div>
        </div>
      </div>
    </form>
  </div>
</div>
